.ShowPageBtnWrapper{
  display:flex;
  align-items: center;
  justify-content: center;
}

.balloon {
  z-index: 10;
  position: relative;
  margin: 50px;
  width: 70%;
  background: pink;
  border-radius: 10px;
}

.balloon:after {
  border-top: 0px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid pink;
  content: "";
  position: absolute;
  top: -10px;
  left: 69%;
}

#fileMgr .upload-box {
  width: 94%;
  overflow: auto;
  /*border: 1px solid gray;*/
  border-style: dashed;
  box-shadow: 2px 3px 9px hsl(0, 0%, 47%);
  padding: 10px;
}

.cardView {
  width: 100%;
  height: auto;
}

#masthead {
  position: relative;
  min-width: 100%;
  height: 880px;
  margin: 0 auto;
  overflow: hidden;
  background: black;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

#masthead-content {
  background: black;
  background-size: 100% auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
  display: none;
}

/* 사전등록 배너 */
#banners {
  color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: var(--miku-bk);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}

.banners__btn {
  text-align: center;
  padding: 16px;
  background: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  opacity: .6;
  margin: 0 8px;
}

.banners__btn.is-active {
  opacity: 1;
}

.banners__item {
  background: #fff;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  opacity: .6;
  margin: 0 8px;
}

.banners__item.is-active {
  opacity: 1;
}

.modal-btn {
  display: block;
  position: absolute;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.modal-btn--prev,
.modal-btn--next {
  z-index: 15;
  top: 35%;
  width: 50px;
  height: 50px;
  border-radius: 35px;
  background-color: rgba(255, 255, 255, 0.35);
  margin-top: -35px;
  cursor: pointer;
  opacity: .6;
}

.modal-btn--prev i,
.modal-btn--next i {
  width: 50px;
  height: 50px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white
}